/*BIG CONTENT CONTAINERS*/

.content-frame{
    position: absolute;
    top: 5%;
    left: 27%;
    width: 70%;
    height: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-title{
    align-items: center;
    justify-content: center;
    font-size: 3.75rem;
    height: 10%;
}

/*Project box, project cards*/
.project-box{
    display: flex;
    height: 95%;
    width: 93%;
    padding: 2rem;
    margin-left: 1%;
    margin-top: 1%;
    flex-flow: wrap;
    column-gap: 3.5rem;
    row-gap: 2.5rem;
    overflow: auto;
}

.project-box section{
    min-width: 30%;
}

.project-card {
    height: 40%;
    border-radius: 25px;
}

.project-info{
    width: 100%;
    height: 100%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-info h1, h2,
    h3,h4,h5{
    font-weight: 500;
    margin-bottom: 0;
}

.project-info p{
    font-weight: 100;
    margin-bottom: 0;
}

.project-info div{
    max-width: 80%;
}

.project-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.project-info div{
    display: flex;
    min-width: 70%;
    min-height: 100px;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}

.project-info a {
    text-decoration: none;
    color: black;
}